body{
    background-color: black;
    font-family: "游明朝体", "YuMincho", "Yu Mincho", "游明朝", "メイリオ", "Meiryo", sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    background-image: url(assets/images/background.png);
    background-attachment: fixed;
    background-size: cover;
}

.messege h1{
    font-size:40px;
    margin-top: 25%;
    filter: blur(100px);
	animation: blur-anim2 1s linear forwards;
}

@keyframes blur-anim2 {
	100% {	filter: blur(0); }
}

.rel{
    position: relative;
    width: 100%;
    height: 100%;
}

.next{
    position: absolute;
    display: block;
    z-index: 2;
    top: 300px;

}

.next img{
    width: 65%;
}

video{
    width: 100%;
    z-index: 1;
    margin: 0px;
}

.messege p{
    filter: blur(100px);
	animation: blur-anim2 1s linear forwards;
}

#b1 #b2 #b3 #b4{
    display: block;
}

.messege{
    font-size: 25px;
    margin-top:200px;
    margin-left: 350px;
}

.you{
    text-align: left;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}

.obj{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    color: rgb(243, 255, 176);
}

.next-btn{
    text-align: center;
    margin-bottom: 30px;
}

.next-btn img{
    width: 50%;
}

.return img{
	width:40%;
}
