body{
    background-color: black;
    font-family: "游明朝体", "YuMincho", "Yu Mincho", "游明朝", "メイリオ", "Meiryo", sans-serif;
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    background-image: url(assets/images/background.png);
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    width: 100%;
    margin: 0px;
}

.logo img{
    width: 35%;
    margin: 0px;
}

.question img{
    width: 40%;
}

.ans-title{
    font-size: 25px;
    margin: 20px;
}

.box{
    text-align: center;
}

.box img{
    width: 100%;
}

.textbox-red{
    width: 400px;
    margin: 15px;
    padding: 12px 12px;
    border-radius: 15px;
    border-top: 5px solid rgb(152, 26, 26);
    border-left: 5px solid rgb(152, 26, 26);
    border-right: 5px solid rgb(152, 26, 26);
    border-bottom: 5px solid rgb(152, 26, 26);
    background-image: none;
    background-color: rgb(255, 227, 227);
    font-size: 18px;
    color:#191919;
    text-align: center;
    font-family: "游明朝体", "YuMincho", "Yu Mincho", "游明朝", "メイリオ", "Meiryo", sans-serif;
}

.textbox-blue{
    width: 400px;
    margin: 15px;
    padding: 12px 12px;
    border-radius: 15px;
    border-top: 5px solid rgb(11, 12, 119);
    border-left: 5px solid rgb(11, 12, 119);
    border-right: 5px solid rgb(11, 12, 119);
    border-bottom: 5px solid rgb(11, 12, 119);
    background-image: none;
    background-color: rgb(237, 237, 255);
    font-size: 18px;
    color:#191919;
    text-align: center;
    font-family: "游明朝体", "YuMincho", "Yu Mincho", "游明朝", "メイリオ", "Meiryo", sans-serif;
}

.textbox-yello{
    width: 400px;
    margin: 15px;
    padding: 12px 12px;
    border-radius: 15px;
    border-top: 5px solid rgb(228, 255, 107);
    border-left: 5px solid rgb(228, 255, 107);
    border-right: 5px solid rgb(228, 255, 107);
    border-bottom: 5px solid rgb(228, 255, 107);
    background-image: none;
    background-color: rgb(246, 254, 199);
    font-size: 18px;
    color:#191919;
    text-align: center;
    font-family: "游明朝体", "YuMincho", "Yu Mincho", "游明朝", "メイリオ", "Meiryo", sans-serif;
}

.ans-btn{
    text-align: center;
    margin: 20px;
}

.answer-button{
    width: 40%;
}

.ans-btn img:hover {
	opacity: 0.8 ;
}

.messege h1{
    font-size:40px;
    margin-top: 25%;
    filter: blur(100px);
	animation: blur-anim2 3s linear forwards;
}

@keyframes blur-anim2 {
	100% {	filter: blur(0); }
}

.hint img{
    width: 20%;
}

footer {
    font-size: 10px;
    color:#292929;
    background-color: #e6e6e6;
    margin:0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

/*メニューバーのやつ*/
body
{
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
}

nav{
    position: fixed;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #00afb9;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative; 
  background: #e6e6e6;
  border-radius: 3px; 
  z-index: 1; 
  transform-origin: 4px 0px; 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 250px;
  padding-bottom: 300px;
  text-align: center;
  background: #e6e6e6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 30px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
